<!-- Start Students Listing -->

{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Список груп{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

<a href='{% url "groups_add" %}' class="btn btn-primary">Додати Групу</a>

<!-- Start Students Listing -->
        {% if groups %}
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>№</th>
              <th><a href="#">Назва &uarr;</a></th>
              <th><a href="#">Староста</a></th>
              <th>Дії</th>
            </tr>
          </thead>
          <tbody>
                {% for group in groups %}
                <tr>
                  <td> {{ group.id }} </td>
                  <td><a href='{% url "groups_edit" group.id %}'> {{ group.id }}</a></td>
                  <td><a href='{% url "groups_edit" group.id %}'> {{ group.leader.first_name }} {{ group.leader.last_name }} </td>
                  <td>
                      <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Дія
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                              <a role="menuitem" tabindex="-1" href='{% url "groups_edit" group.id %}'>Редагувати</a>
                            </li>
                            <li role="presentation">
                              <a role="menuitem" tabindex="1" href='{% url "groups_delete" group.id %}'>Видалити</a>
                            </li>
                          </ul>
                      </div>
                  </td>
                {% endfor %}
        {% else %}
        <p> Поки немає груп у базі</p>
        {% endif %}

        <!--Navigation-->
        <div>
          {% include 'students/pagination.html' %}
        </div>
        <!-- End Container -->
{% endblock content %}